body,html {
  background: url(bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 70vh; */
}


a {
  text-decoration: none;
  text-align: center;
  color: rgb(4, 33, 49);
  padding: 1rem;
  font-family: Verdana, Geneva,, Tahoma, sans-serif;
  font-size: 1.3rem;
  /* font-family: monospace; */
}
h1 {
  margin-top: 30vh;
  text-align: center;
  font-family: monospace;
  color: cyan;
}
h1:hover {
  color: red;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 4px;
  height: 20vh;
  background-color: silver;
  margin:0px 20vw;
}

a:hover {
  color: teal;
}